# This is the template all .env files of the microservices follow 
MONGO_URI="mongodb+srv://<username>:<password>@<cluster-url>/<database-name>"
PORT={{PORT}}
JWT_SECRET={{YOUR_JWT_SECRET}}
RABBITMQ_URL=amqp://rabbitmq:5672 # if running using docker-compose
RABBITMQ_URL="amqp://guest:guest@localhost:5672" # if running locally
#only when applicable
QUEUE_PREFIX={{Microservice_Name}}  
